@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}


#main {
    width: 100%;
    height: 100%;
    background-color: #000;
}

nav{
height: 80px;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
text-transform: uppercase;
}

nav #menu, #nav-btns {
    display: flex;
    gap: 30px;
}

nav a {
  padding: 0.5rem 1rem; 
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav button {
    padding: .5rem 1rem;
    background-color: #fff;
    font-size: large;
    color: #000;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
cursor: pointer;
font-weight: 600;
}

nav img {
    height: 60px;
    mix-blend-mode:lighten;
}


#main h1 {
    font-size: 7VW;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}


#main h1:nth-child(2){
    /* color: red; */
    margin-top: 60px;
}

#main h1 span {
    background-color: crimson;
    padding: 10px 20px;
    margin: 0 2rem;
    border-radius: 50px;
    font-size: 50px;
    align-items: center;
    cursor: pointer;
}

#main #left-img {
    position: absolute;
    top: 15%;
    left: 5%;
    border-radius: 30px;
    height: 250px;  
}
#main #right-img {
    position: absolute;
    top: 35%;
    right: 5%;
    border-radius: 30px;
    height: 300px;  
}

#page1{
    background-color: crimson;
    width: 100%;
    height: 100%;
    padding: 50px 10px;
}
#page2{
    background-color: crimson;
    width: 100%;
    height: 100%;
    padding: 50px 10px;
}
#page3{
    background-color: #4b4b4b;
    width: 100%;
    height: 100%;
    padding: 50px 10px;
}

#page1>h2 {
    text-align: center;
font-size: 5vw;
text-transform: uppercase;
}

#box {
  display: flex;  
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

#box img{
    width: 45vw;
    border-radius: 30px;
    border: 5px solid #f1f1f1;

}